<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Faonni_Smtp::log" title="Sending Emails" translate="title" module="Faonni_Smtp" sortOrder="60" parent="Magento_Reports::report_marketing" action="faonni_smtp/log" resource="Faonni_Smtp::log"/>
    </menu>
</config>
