<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="smtp">
                <field id="enabled" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable SMTP For Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="disable">0</field>
                    </depends>                       
                </field>
                <field id="host">
                    <comment><model>Faonni\Smtp\Model\Config\Comment\Host</model></comment>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                    </depends>                    
                </field>
                <field id="port">
                    <comment><model>Faonni\Smtp\Model\Config\Comment\Port</model></comment>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                    </depends>                     
                </field>
                <field id="ssl" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Connection Security</label>
                    <source_model>Faonni\Smtp\Model\Config\Source\Ssl</source_model>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>                   
                <field id="auth" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authentication Method</label>
                    <source_model>Faonni\Smtp\Model\Config\Source\Auth</source_model>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>
                <field id="user" translate="label" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User</label>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                        <field id="auth">login</field>
                    </depends>                      
                </field>
                <field id="pass" translate="label" type="password" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                        <field id="auth">login</field>
                    </depends>                      
                </field>
                <field id="validate" translate="button_label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Test connection</button_label>
                    <frontend_model>Faonni\Smtp\Block\Adminhtml\System\Config\Test</frontend_model>
                    <depends>
                        <field id="disable">0</field>
                        <field id="enabled">1</field>
                    </depends>                      
                </field>              
                <field id="set_return_path">
                    <depends>
                        <field id="disable">0</field>
                    </depends>  
                </field>                
            </group>
        </section>
    </system>
</config>
